* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border: solid;
}

.container {
    width: 100%;
    padding: 0;
    /* border: solid; */
}

.header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 0px;
    left: 0;
    /* z-index: 1; */
    /* background-color: red;
    background: -o-linear-gradient(skyblue, grey);
    background: -webkit-linear-gradient(skyblue, grey);
    background: -moz-linear-gradient(grey, skyblue);
    background: linear-gradient(grey, skyblue); */
}

.navbar-expand {
    position: sticky;
    top: 0;
    left: 0;
    /* z-index: 1; */
    display: block;
    width: 100%;
    background-color: gray;
    overflow: hidden;
}

.navbar-expand li {
    list-style: none;
    display: inline-block;
    /* margin: auto; */
    width: 18%;
    text-align: center;
    /* border: solid; */
}

.navbar-expand li:last-child {
    width: 25%;
}

.navbar-expand a {
    font-size: 1.2em;
    color: black;
    /* line-height: 100%; */
    text-decoration: none;
    display: block;
    margin: auto;
    float: left;
    padding: 0px 20px;
}

nav a:hover {
    background-color: gray;
    color: white;
}

.navbar-expand a.active {
    background-color: black;
    color: white;
}

.hamburger {
    position: fixed;
    top: 10px;
    right: 15px;
    cursor: pointer;
    display: none;
    font-size: 16px;
}

#collapse {
    position: fixed;
    top: 0;
    right: 0px;
    height: 100%;
    width: 0px;
    padding-top: 30px;
    /* background: gray; */
    transition: .6s;
    background-color: black;
    z-index: 1;
    overflow-x: hidden;
}

#collapse li a {
    text-decoration: none;
    color: gray;
    transition: 0.6s;
    font-size: 25px;
    display: block;
    margin-left: -40px;
    padding: 10px 20px 10px 30px;
}

#collapse a {
    display: inline-block;
    font-size: 16px;
    padding: 10px;
}

.closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    margin-left: 50px;
}

#collapse a:hover {
    color: honeydew;
}

.photo-about {
    width: 100%;
    display: inline-block;
}

.left {
    display: inline-block;
    width: 30%;
    margin: 2% 0 0 2%;
    float: left;
}

.data {
    font-size: 16px;
}

.profile {
    width: 100%;
    margin: 2px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px;
}

.right {
    display: inline-block;
    width: 60%;
    float: right;
}

.data {
    list-style: none;
    padding: 4%;
}

.right .data span:first-child {
    width: 30%;
    display: inline-block;
    text-align: left;
    font-size: 3rem;
    /* border: solid; */
}

.right .data span:nth-child(2) {
    width: 60%;
    /* display: inline-block; */
    font-size: 2rem;
    padding-left: 2%;
    /* border: solid; */
}

.education-container {
    margin: 5% 0% 0% 10%;
}

.education span {
    display: block;
}

.year {
    color: blue;
    font-size: 2rem;
}

.degree {
    font-size: 2.5rem;
    font-weight: bold;
}

.university {
    font-size: 2rem;
}

.Desc {
    font-size: 1.5rem;
    font-weight: lighter;
    color: grey;
}

.skills {
    margin: 5% 0% 0% 10%;
}

.progress-container {
    display: inline-block;
    width: 45%;
    margin: 1%;
    /* padding: 10%; */
}

.progressbar {
    width: 100%;
    /* border-radius: 5px; */
}

.progress-container span:first-child {
    font-size: 2rem;
    float: left;
}

.progress-container span:nth-child(2) {
    font-size: 2rem;
    float: right;
}

.section-label {
    display: block;
    width: 100%;
    font-size: 3em;
    text-align: center;
    color: blue;
}

.certificate-container {
    display: block;
    margin: 5% 0% 0% 10%;
}

.certificate {
    display: inline-block;
    width: 45%;
    margin: 2%;
    /* border: solid; */
}

img {
    width: 100%;
}

.large-view {
    position: fixed;
    top: 10%;
    left: 25%;
    background: white;
    width: 50%;
    /* height: 40%; */
    display: none;
}

#image {
    width: 100%;
    margin: 2px;
    box-shadow: 4px 4px 10px;
}

.close {
    position: absolute;
    top: 0;
    display: block;
    /* width: 20px;
    height: 20px; */
    right: 0;
    /* background-color: white; */
    z-index: 1;
    color: red;
    border: solid;
}

.close i {
    font-size: 20px;
    background: white;
}

.contact-container {
    overflow: hidden;
    /* border: solid; */
}

.form {
    display: inline-block;
    width: 42%;
    /* height: 400px; */
    float: left;
    margin: 20px 0 0 20px;
    padding: 1% 0% 0 4%;
    /* border: solid; */
}

.form span {
    font-size: 20px;
    padding: 10px;
    display: block;
    text-align: center;
}

.googleMap {
    display: inline-block;
    margin-top: 60px;
    padding: 1% 0 0 0;
    width: 50%;
    height: 400px;
    float: left;
    /* border: solid; */
}

label,
input {
    display: block;
    font-size: 20px;
    /* border: solid; */
}

label {
    margin-top: 10px;
}

input,
textarea {
    padding: 5px;
    width: 80%;
    outline-style: none;
    outline: none;
}

input[type="submit"] {
    width: 100px;
}

.sticky-footer {
    width: 100%;
    position: sticky;
    left: 0;
    padding: 5px;
    height: 60px;
    background-color: gray;
    bottom: 0px;
}

.sticky-footer span {
    display: inline-block;
    width: 20%;
    /* border: solid; */
    font-size: 16px;
}

.sticky-footer a {
    display: inline-block;
    /* width: 10%; */
    /* font-size: 16px; */
    /* border: solid; */
    padding: 5px 10px 0px;
}

.sticky-footer i {
    display: inline-block;
    /* width: 20px; */
}

.sticky-footer form {
    float: right;
    width: 70%;
    margin-top: 5px;
    /* border: solid; */
}

.sticky-footer input[type="email"] {
    width: 80%;
    font-size: 16px;
    display: inline-block;
}

.sticky-footer input[type="submit"] {
    width: 100px;
    font-size: 16px;
    display: inline-block;
}

@media screen and (max-width:1200px) {
    html {
        font-size: 75%;
    }
    .right {
        /* background:red; */
        width: 60%;
    }
    .data {
        font-size: 5px;
    }
    .left {
        /* display: none; */
    }
}

@media screen and (max-width:900px) {
    html {
        font-size: 50%;
    }
    .right {
        /* background:yellow; */
        width: 60%;
    }
    .data {
        font-size: 5px;
    }
    .left {
        /* display: none; */
    }
    .skills,
    .certificate-container,
    .education-container {
        margin-left: 2%;
    }
    .sticky-footer form input[type="email"] {
        width: 60%;
        /* border: solid; */
        font-size: 12px;
    }
    .sticky-footer form input[type="submit"] {
        width: 30%;
        font-size: 12px;
    }
    .sticky-footer span {
        display: none;
    }
}

@media screen and (max-width:600px) {
    html {
        font-size: 40%;
    }
    .header {
        height: 35px;
        background-color: gray;
    }
    .right {
        width: 100%;
        font-weight: bolder;
        /* border: solid; */
        background-image: url("../images/Profile.jpg");
        background-size: cover;
    }
    .left {
        display: none;
    }
    .progress-container {
        width: 90%;
    }
    .skills,
    .certificate-container,
    .education-container {
        margin-left: 0;
    }
    .large-view {
        width: 100%;
        left: 0;
    }
    .hamburger {
        display: inline-block;
    }
    .navbar-expand {
        /* flex-direction: column; */
        display: none;
    }
    .form,
    .googleMap {
        margin-top: 5px;
        width: 90%;
    }
    .sticky-footer form {
        width: 100%;
    }
    .sticky-footer form input[type="email"] {
        width: 60%;
        /* border: solid; */
        font-size: 12px;
    }
    .sticky-footer form input[type="submit"] {
        width: 30%;
        font-size: 12px;
    }
    .newsletter-icons,
    .sticky-footer span {
        display: none;
    }
}

@media screen and (max-width:400px) {
    html {
        font-size: 40%;
    }
    .header {
        height: 35px;
        background-color: gray;
    }
    #collapse {
        height: 100vh;
        /* width: 50%; */
        /* display: none; */
    }
    #collapse li a {
        font-size: 16px;
        padding: 10px 20px 10px 30px;
        /* height: 100%; */
    }
    #collapse i {
        font-size: 25px;
        padding: 10px 10px 10px 10px;
    }
    .right {
        /* background: green; */
        width: 100%;
        font-weight: bolder;
        /* border: solid; */
        background-image: url("../images/Profile.jpg");
        background-size: cover;
    }
    .left {
        display: none;
    }
    .progress-container {
        width: 90%;
    }
    .skills,
    .certificate-container,
    .education-container {
        margin-left: 5px;
        /* border: solid; */
    }
    .large-view {
        width: 100%;
        /* left: 0px; */
        left: 0;
    }
    .hamburger {
        display: inline-block;
    }
    .navbar-expand {
        /* flex-direction: column; */
        display: none;
    }
    .googleMap {
        display: none;
    }
    input,
    textarea {
        width: 100%;
        font-size: 16px;
    }
    .sticky-footer {
        height: 40px;
    }
    .sticky-footer form {
        width: 100%;
    }
    .sticky-footer form input[type="email"] {
        width: 60%;
        /* border: solid; */
        font-size: 12px;
    }
    .sticky-footer form input[type="submit"] {
        width: 30%;
        font-size: 12px;
    }
    .newsletter-icons,
    .sticky-footer span {
        display: none;
    }
}